<mat-sidenav-container>
  <mat-sidenav
    class="sidenav"
    #sidenav
    [opened]="!isSmallScreen"
    [fixedInViewport]="true"
    [mode]="sidenavMode"
  >
  <mat-toolbar color="primary">
    Smart Examples
  </mat-toolbar>
  <mat-nav-list>
    <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="0">
        <a class="menu-subitem-link" mat-list-item [routerLink]="node.url">
          <div class="flex px-[30px] items-center">
            <mat-icon class="menu-icon">{{node.icon || 'chevron_right'}}</mat-icon>
            <span>{{node.name}}</span>
          </div>
        </a>
      </mat-tree-node>
      <mat-tree-node class="menu-item" *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="0" matTreeNodeToggle
                 [cdkTreeNodeTypeaheadLabel]="node.name">
        <button matIconButton matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" >
          <mat-icon class="mat-icon-rtl-mirror">
            {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar
      class="toolbar-menu"
      color="primary"
      [class.mat-elevation-z4]="applyShadow"
    >
      <button
        mat-icon-button
        class="example-icon"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="popText">My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <mat-toolbar class="toolbar-submenu" color="primary">
      <span *ngIf="!popText">My App</span>
    </mat-toolbar>


    <router-outlet></router-outlet>


  </mat-sidenav-content>
</mat-sidenav-container>
